.home{
    background-color: #11141C;
    background-size: cover;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    color: white;
}
.hero-info{
    margin: 100px;
    padding: 50px;
}
.first{
    border-right: 2px solid white;
}
.ride-img{
    width: 100%;
}